<footer>
        <p>© 2025 Lizzy Sauceda. Todos los derechos reservados.</p>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/skzzzy" target="_blank"><img src="img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/lulu.sauceda.5" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
            <a href="https://wa.me/97237069" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://x.com/michilvs" target="_blank"><img src="img/twitter.png" alt="Twitter"></a>
            <a href="https://github.com/skzzzy" target="_blank"><img src="img/github.png" alt="GitHub"></a>
        </div>
    </footer>