 <header class="inicio">
        <nav class="barra-navegacion">
            <div class="logo">Mi Portafolio</div>
            <ul class="enlaces-nav">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="index.html#sobre-mi">Sobre Mí</a></li>
                <li><a href="index.html#proyectos">Proyectos</a></li>
                <li>
                    <a href="Contacto.html">Contacto</a>
                    <ul class="submenu">
                        <li><a href="https://www.instagram.com/skzzzy" target="_blank">Instagram</a></li>
                        <li><a href="https://www.facebook.com/lulu.sauceda.5" target="_blank">Facebook</a></li>
                        <li><a href="https://wa.me/97237069" target="_blank">WhatsApp</a></li>
                        <li><a href="https://x.com/michilvs" target="_blank">Twitter (X)</a></li>
                        <li><a href="https://github.com/skzzzy" target="_blank">GitHub</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="contenido-inicio">
            <h1>Lizzy Sauceda</h1>
            <p>Diseñadora - Desarrolladora - Creadora</p>
        </div>
    </header>